# data processing
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
tqdm==4.66.2

# eda
jupyter==1.0.0
seaborn==0.13.2

# modelling
torch==2.0.0
lightning==2.2.5

# audio processing
torchaudio==2.0.1
librosa==0.10.2
