# data processing
scikit-learn
pandas
numpy<2
tqdm

# eda
jupyter
seaborn

# modelling
torch
lightning
torchaudio
torchvision
torchmetrics
sentence-transformers

# training
tensorboard
tensorboardX

# tracking
mlflow

# other
fire
loguru
