# data processing
scikit-learn
pandas
numpy
tqdm

# eda
jupyter
seaborn

# modelling
torch
lightning
torchaudio
torchvision
torchmetrics

# training
tensorboard
tensorboardX

# tracking
mlflow

# co2 emission monitoring
codecarbon==2.6.0

# acoustic features extraction
git+https://gitlab.com/Kowd-PauUh/disvoice.git
librosa

# other
fire
loguru
