# data processing
scikit-learn
pandas
numpy
tqdm

# eda
jupyter
seaborn

# modelling
torch
lightning

# audio processing
torchaudio
torchvision
librosa

# features extraction
git+https://gitlab.com/Kowd-PauUh/disvoice.git

# other
fire
loguru
