# data processing
scikit-learn
pandas
numpy<2
tqdm

# eda
jupyter
seaborn

# modelling
torch==2.0.1
lightning
torchaudio
torchvision
torchmetrics
sentence-transformers

# training
tensorboard
tensorboardX

# tracking
mlflow==2.20.1

# other
fire
loguru
